KalypsoServiceObs/srcservice/IObservationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://sei.observation.services.kalypso.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sei.observation.services.kalypso.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sei.observation.services.kalypso.org/" schemaLocation="IObservationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="adaptItem">
    <part name="parameters" element="tns:adaptItem"/>
  </message>
  <message name="adaptItemResponse">
    <part name="parameters" element="tns:adaptItemResponse"/>
  </message>
  <message name="SensorException">
    <part name="fault" element="tns:SensorException"/>
  </message>
  <message name="clearTempData">
    <part name="parameters" element="tns:clearTempData"/>
  </message>
  <message name="clearTempDataResponse">
    <part name="parameters" element="tns:clearTempDataResponse"/>
  </message>
  <message name="getServiceVersion">
    <part name="parameters" element="tns:getServiceVersion"/>
  </message>
  <message name="getServiceVersionResponse">
    <part name="parameters" element="tns:getServiceVersionResponse"/>
  </message>
  <message name="readData">
    <part name="parameters" element="tns:readData"/>
  </message>
  <message name="readDataResponse">
    <part name="parameters" element="tns:readDataResponse"/>
  </message>
  <message name="writeData">
    <part name="parameters" element="tns:writeData"/>
  </message>
  <message name="writeDataResponse">
    <part name="parameters" element="tns:writeDataResponse"/>
  </message>
  <message name="findItem">
    <part name="parameters" element="tns:findItem"/>
  </message>
  <message name="findItemResponse">
    <part name="parameters" element="tns:findItemResponse"/>
  </message>
  <message name="RepositoryException">
    <part name="fault" element="tns:RepositoryException"/>
  </message>
  <message name="hasChildren">
    <part name="parameters" element="tns:hasChildren"/>
  </message>
  <message name="hasChildrenResponse">
    <part name="parameters" element="tns:hasChildrenResponse"/>
  </message>
  <message name="reload">
    <part name="parameters" element="tns:reload"/>
  </message>
  <message name="reloadResponse">
    <part name="parameters" element="tns:reloadResponse"/>
  </message>
  <message name="getChildren">
    <part name="parameters" element="tns:getChildren"/>
  </message>
  <message name="getChildrenResponse">
    <part name="parameters" element="tns:getChildrenResponse"/>
  </message>
  <portType name="IObservationService">
    <operation name="adaptItem">
      <input message="tns:adaptItem"/>
      <output message="tns:adaptItemResponse"/>
      <fault message="tns:SensorException" name="SensorException"/>
    </operation>
    <operation name="clearTempData">
      <input message="tns:clearTempData"/>
      <output message="tns:clearTempDataResponse"/>
      <fault message="tns:SensorException" name="SensorException"/>
    </operation>
    <operation name="getServiceVersion">
      <input message="tns:getServiceVersion"/>
      <output message="tns:getServiceVersionResponse"/>
    </operation>
    <operation name="readData">
      <input message="tns:readData"/>
      <output message="tns:readDataResponse"/>
      <fault message="tns:SensorException" name="SensorException"/>
    </operation>
    <operation name="writeData">
      <input message="tns:writeData"/>
      <output message="tns:writeDataResponse"/>
      <fault message="tns:SensorException" name="SensorException"/>
    </operation>
    <operation name="findItem">
      <input message="tns:findItem"/>
      <output message="tns:findItemResponse"/>
      <fault message="tns:RepositoryException" name="RepositoryException"/>
    </operation>
    <operation name="hasChildren">
      <input message="tns:hasChildren"/>
      <output message="tns:hasChildrenResponse"/>
      <fault message="tns:RepositoryException" name="RepositoryException"/>
    </operation>
    <operation name="reload">
      <input message="tns:reload"/>
      <output message="tns:reloadResponse"/>
      <fault message="tns:RepositoryException" name="RepositoryException"/>
    </operation>
    <operation name="getChildren">
      <input message="tns:getChildren"/>
      <output message="tns:getChildrenResponse"/>
      <fault message="tns:RepositoryException" name="RepositoryException"/>
    </operation>
  </portType>
</definitions>

