KalypsoServiceObs/srcservice/ObservationServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://server.observation.services.kalypso.org/" name="ObservationServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.observation.services.kalypso.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://sei.observation.services.kalypso.org/" location="IObservationService.wsdl"/>
  <binding name="ObservationServiceImplPortBinding" type="ns1:IObservationService" xmlns:ns1="http://sei.observation.services.kalypso.org/">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="adaptItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SensorException">
        <soap:fault name="SensorException" use="literal"/>
      </fault>
    </operation>
    <operation name="clearTempData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SensorException">
        <soap:fault name="SensorException" use="literal"/>
      </fault>
    </operation>
    <operation name="getServiceVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="readData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SensorException">
        <soap:fault name="SensorException" use="literal"/>
      </fault>
    </operation>
    <operation name="writeData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SensorException">
        <soap:fault name="SensorException" use="literal"/>
      </fault>
    </operation>
    <operation name="findItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RepositoryException">
        <soap:fault name="RepositoryException" use="literal"/>
      </fault>
    </operation>
    <operation name="hasChildren">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RepositoryException">
        <soap:fault name="RepositoryException" use="literal"/>
      </fault>
    </operation>
    <operation name="reload">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RepositoryException">
        <soap:fault name="RepositoryException" use="literal"/>
      </fault>
    </operation>
    <operation name="getChildren">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RepositoryException">
        <soap:fault name="RepositoryException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ObservationServiceImplService">
    <port name="ObservationServiceImplPort" binding="tns:ObservationServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

