KalypsoContributionsOGC31/etc/schemas/generated/iso19139/gml3.1.1version/gmd/metadataApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.isotc211.org/2005/gmd" elementFormDefault="qualified" version="0.1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0">
<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:05 ====== </xs:documentation>
	</xs:annotation>
<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
<xs:include schemaLocation="../gmd/metadataEntity.xsd"/>
<xs:complexType name="DS_OtherAggregate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_OtherAggregate" type="gmd:DS_OtherAggregate_Type" substitutionGroup="gmd:AbstractDS_Aggregate"/>
<xs:complexType name="DS_OtherAggregate_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_OtherAggregate" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_Series_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_Series" type="gmd:DS_Series_Type" substitutionGroup="gmd:AbstractDS_Aggregate"/>
<xs:complexType name="DS_Series_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_Series" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_Initiative_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_Initiative" type="gmd:DS_Initiative_Type" substitutionGroup="gmd:AbstractDS_Aggregate"/>
<xs:complexType name="DS_Initiative_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_Initiative" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_Platform_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_Platform" type="gmd:DS_Platform_Type" substitutionGroup="gmd:DS_Series"/>
<xs:complexType name="DS_Platform_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_Platform" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_Sensor_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_Sensor" type="gmd:DS_Sensor_Type" substitutionGroup="gmd:DS_Series"/>
<xs:complexType name="DS_Sensor_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_Sensor" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_ProductionSeries_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_ProductionSeries" type="gmd:DS_ProductionSeries_Type" substitutionGroup="gmd:DS_Series"/>
<xs:complexType name="DS_ProductionSeries_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_ProductionSeries" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:complexType name="DS_StereoMate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_OtherAggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
<xs:element name="DS_StereoMate" type="gmd:DS_StereoMate_Type" substitutionGroup="gmd:DS_OtherAggregate"/>
<xs:complexType name="DS_StereoMate_PropertyType">
		<xs:sequence>
			<xs:element ref="gmd:DS_StereoMate" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
</xs:schema>
