JWSDPInstallation/jwsdp/xws-security/samples/simple/etc/PingService.wsdl

<?xml version='1.0' ?>
<definitions xmlns:tns="http://xmlsoap.org/Ping" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://xmlsoap.org/Ping" name="Ping"> 
    <types> 
        <schema targetNamespace="http://xmlsoap.org/Ping" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
            <import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" schemaLocation="utility.xsd"/> 
            <complexType name="ticketType"> 
                <xsd:simpleContent> 
                    <xsd:extension base="xsd:string"> 
                        <xsd:attribute ref="wsu:Id"/> 
                    </xsd:extension> 
                </xsd:simpleContent> 
            </complexType> 
            <element name="ticket" type="tns:ticketType"/> 
            <element name="text" type="xsd:string" nillable="true"/> 
            <complexType name="ping"> 
                <sequence> 
                    <element ref="tns:ticket" minOccurs="0"/> 
                    <element ref="tns:text"/> 
                </sequence> 
            </complexType> 
            <complexType name="pingResponse"> 
                <sequence> 
                    <element ref="tns:text"/> 
                </sequence> 
            </complexType> 
            <element name="Ping" type="tns:ping"/> 
            <element name="PingResponse" type="tns:pingResponse"/> 
        </schema> 
    </types> 
    <message name="PingRequest"> 
        <part name="ping" element="tns:Ping"/> 
    </message> 
    <message name="PingResponse"> 
        <part name="pingResponse" element="tns:PingResponse"/> 
    </message> 
    <portType name="PingPort"> 
        <operation name="Ping"> 
            <input message="tns:PingRequest"/> 
            <output message="tns:PingResponse"/> 
        </operation> 
    </portType> 
    <binding name="PingBinding" type="tns:PingPort"> 
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/> 
        <operation name="Ping"> 
            <soap:operation/> 
            <input> 
                <soap:body use="literal"/> 
            </input> 
            <output> 
                <soap:body use="literal"/> 
            </output> 
        </operation> 
    </binding> 
    <service name="PingService"> 
        <port name="Ping" binding="tns:PingBinding"> 
            <soap:address location="http://localhost:8080/securesimple/Ping"/> 
        </port> 
    </service> 
</definitions> 
