OdysseusChartFactory/etc/binding/schema/ChartConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ods="http://www.openali.de/odysseus/chartconfig/0.2.0/" targetNamespace="http://www.openali.de/odysseus/chartconfig/0.2.0/" elementFormDefault="qualified" version="0.2.0">
  <include schemaLocation="./StyleConfiguration.xsd" />

  <element name="ChartConfiguration" type="ods:ChartConfigurationType" />

  <complexType name="ChartConfigurationType">
    <sequence>
      <element ref="ods:Styles" minOccurs="0" maxOccurs="1" />
      <element ref="ods:Chart" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <element name="Chart" type="ods:ChartType" />
  <element name="Layers" type="ods:LayersType" />
  <element name="Layer" type="ods:LayerType" />
  <element name="LayerReference" type="ods:LayerRefernceType" />
  <element name="DerivedLayer" type="ods:DerivedLayerType" />
  <element name="ChildLayer" type="ods:ChildLayerType" />
  <element name="Axis" type="ods:AxisType" />
  <element name="ScreenAxis" type="ods:ScreenAxisType" />
  <!--
  <element name="Mapper" type="ods:MapperType" />
  -->
  <element name="AxisRenderer" type="ods:AxisRendererType" />


  <complexType name="AbstractConfigurationType" abstract="true">
    <complexContent>
      <extension base="ods:ReferencableType">
        <sequence>
          <element name="Provider" type="ods:ProviderType" minOccurs="0" />
        </sequence>
        <attribute name="visible" type="boolean" default="true" />
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ReferencableType">
    <attribute name="id" type="ID" use="required" />
  </complexType>

  <complexType name="ReferencingType">
    <attribute name="ref" type="IDREF" use="optional" />
    <attribute name="url" type="anyURI" use="optional" />
  </complexType>

  <complexType name="RoleReferencingType">
    <complexContent>
      <extension base="ods:ReferencingType">
        <attribute name="role" type="string" use="required" />
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ChartType">
    <complexContent>
      <extension base="ods:ReferencableType">
        <sequence>
          <element name="Title" type="ods:TitleType" minOccurs="0" maxOccurs="unbounded" />
          <element name="Description" type="string" minOccurs="0" />
          <element name="ChartInsets" type="ods:InsetType" minOccurs="0" />
          <element name="PlotInsets" type="ods:InsetType" minOccurs="0" />
          <element name="PlotFrame" type="ods:PlotFrameStyle" minOccurs="0" />
          <element ref="ods:Styles" minOccurs="0" />
          <element ref="ods:Layers" minOccurs="0" />
          <element name="Mappers" minOccurs="0">
            <complexType>
              <sequence>
                <choice maxOccurs="unbounded">
                 <!--  <element ref="ods:Mapper" /> -->
                  <element ref="ods:Axis" />
                  <element ref="ods:ScreenAxis" />
                </choice>
              </sequence>
            </complexType>
          </element>
          <element name="Renderers" minOccurs="0">
            <complexType>
              <sequence>
                <element ref="ods:AxisRenderer" maxOccurs="unbounded" />
              </sequence>
            </complexType>
          </element>
        </sequence>
        <attribute name="legend" type="boolean" use="optional" default="true" />
        <attribute name="legendRenderer" type="string" use="optional" default="de.openali.odysseus.chart.legend.render.combined" />
        <attribute name="loader" type="ods:DataLoadingStrategy" default="asynchrone" />

      </extension>
    </complexContent>
  </complexType>


  <simpleType name="DataLoadingStrategy">
    <restriction base="string">
      <enumeration value="synchrone" />
      <enumeration value="asynchrone" />
    </restriction>
  </simpleType>

  <complexType name="LayersType">
    <sequence>
      <element name="CascadingParameters" type="ods:ParametersType" minOccurs="0" />
      <choice maxOccurs="unbounded">
        <element ref="ods:Layer" />
        <element ref="ods:LayerReference" />
        <element ref="ods:DerivedLayer" />
      </choice>
    </sequence>
  </complexType>


  <complexType name="LayerType">
    <complexContent>
      <extension base="ods:AbstractConfigurationType">
        <sequence>
          <element name="Title" type="string" minOccurs="1" />
          <element name="Description" type="string" minOccurs="0" />
          <element ref="ods:Layers" minOccurs="0" />
          <element name="MapperRefs" minOccurs="0">
            <complexType>
              <sequence>
                <element name="DomainAxisRef" type="ods:ReferencingType" />
                <element name="TargetAxisRef" type="ods:ReferencingType" />
                <element name="MapperRef" type="ods:RoleReferencingType" minOccurs="0" maxOccurs="unbounded" />
              </sequence>
            </complexType>
          </element>
          <element ref="ods:Styles" minOccurs="0" />
        </sequence>
        <attribute name="legend" type="boolean" default="true">
          <annotation>
            <documentation>display layer in chart legend</documentation>
          </annotation>
        </attribute>
        <attribute name="hideIfNoData" type="boolean" default="false">
          <annotation>
            <documentation>allows layer to hide, if layer has no Data</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="LayerRefernceType">
    <sequence>
      <element name="Parameters" type="ods:ParametersType" minOccurs="0" />
    </sequence>
    <attribute name="url" type="anyURI" use="required" />
    <attribute name="title" type="string" use="optional" />
  </complexType>

  <complexType name="DerivedLayerType">
    <complexContent>
      <extension base="ods:ReferencableType">
        <sequence>
          <element name="Title" type="string" minOccurs="0" />
          <element name="Description" type="string" minOccurs="0" />
          <element ref="ods:LayerReference" minOccurs="1" />
          <element name="Parameters" type="ods:ParametersType" minOccurs="0" />
          <element ref="ods:Styles" minOccurs="0" />
          <element ref="ods:ChildLayer" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="legend" type="boolean" use="optional" default="true" />
        <attribute name="visible" type="boolean" use="optional" default="true" />
      </extension>
    </complexContent>
  </complexType>




  <complexType name="ChildLayerType">
    <sequence>
      <element name="Title" type="string" minOccurs="0" />
      <element name="Description" type="string" minOccurs="0" />
      <element name="Parameters" type="ods:ParametersType" minOccurs="0" />
      <element ref="ods:Styles" minOccurs="0" />
    </sequence>
    <attribute name="ref" type="anyURI" use="required" />
    <attribute name="legend" type="boolean" use="optional" default="true" />
  </complexType>

  <complexType name="ProviderType">
    <sequence>
      <element name="Parameters" type="ods:ParametersType" minOccurs="0" />
    </sequence>
    <attribute name="epid" type="string" use="required">
      <annotation>
        <documentation> ID der Extension, die den jeweiligen
          Erweiterungspunkt implementiert
        </documentation>
      </annotation>
    </attribute>
  </complexType>

<!-- 
  <complexType name="MapperRefType">
    <complexContent>
      <extension base="ods:ReferencingType">
        <attribute name="role" type="string" use="required" />
      </extension>
    </complexContent>
  </complexType>


  <complexType name="MapperType">
    <complexContent>
      <extension base="ods:AbstractConfigurationType" />
    </complexContent>
  </complexType>
 -->
  <complexType name="AxisType">
    <complexContent>
      <extension base="ods:AbstractConfigurationType">
        <sequence>
          <element name="Label" type="string" minOccurs="0">
            <annotation>
              <documentation>deprecated, use Labels instead</documentation>
            </annotation>
          </element>
          <element name="Labels" type="ods:TitleTypes" minOccurs="0" />
          <element name="Direction" type="ods:DirectionType" minOccurs="1" />
          <element name="Position" type="ods:PositionType" minOccurs="1" />
          <choice minOccurs="0">
            <element ref="ods:DateRange" />
            <element ref="ods:DurationRange" />
            <element ref="ods:StringRange" />
            <element ref="ods:NumberRange" />
          </choice>
          <element name="PreferredAdjustment" minOccurs="0">
            <annotation>
              <documentation> sets the preferred relation for auto adjustement
              </documentation>
            </annotation>
            <complexType>
              <attribute name="before" use="required">
                <simpleType>
                  <restriction base="int">
                    <minInclusive value="0" />
                    <maxInclusive value="99" />
                  </restriction>
                </simpleType>
              </attribute>
              <attribute name="range" use="required">
                <simpleType>
                  <restriction base="int">
                    <minInclusive value="1" />
                    <maxInclusive value="100" />
                  </restriction>
                </simpleType>
              </attribute>
              <attribute name="after" use="required">
                <simpleType>
                  <restriction base="int">
                    <minInclusive value="0" />
                    <maxInclusive value="99" />
                  </restriction>
                </simpleType>
              </attribute>
              <attribute name="fixMinRange" type="decimal" use="optional">
                <annotation>
                  <documentation>der minimale angezeigte Bereich, unabhängig von der tatsächlich benötigten Grösse.</documentation>
                </annotation>
              </attribute>
              <attribute name="fixMaxRange" type="decimal" use="optional">
                <annotation>
                  <documentation>
                    <annotation>
                      <documentation>der maximale angezeigte Bereich, unabhängig von der tatsächlich benötigten Grösse.</documentation>
                    </annotation>
                  </documentation>
                </annotation>
              </attribute>
            </complexType>
          </element>
          <element name="RendererRef" type="ods:ReferencingType" />
          <choice minOccurs="0">
            <element ref="ods:AxisNumberRangeRestriction" />
            <element ref="ods:AxisDateRangeRestriction" />
          </choice>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ScreenAxisType">
  	<annotation>
    	<documentation>deprecated, use normal Axis instead and a ScreenAxisProvider</documentation>
    </annotation>
    <complexContent>
      <extension base="ods:AxisType">
        <!--sequence>
          <element name="Direction" type="ods:DirectionType" minOccurs="0" default="POSITIVE" />
          <element name="Position" type="ods:PositionType" minOccurs="1" />
        </sequence-->
      </extension>
    </complexContent>
  </complexType>

  <simpleType name="PositionType">
    <restriction base="string">
      <enumeration value="LEFT" />
      <enumeration value="RIGHT" />
      <enumeration value="BOTTOM" />
      <enumeration value="TOP" />
    </restriction>
  </simpleType>

  <simpleType name="DirectionType">
    <restriction base="string">
      <enumeration value="POSITIVE" />
      <enumeration value="NEGATIVE" />
    </restriction>
  </simpleType>

  <complexType name="AxisNumberRangeType">
    <sequence>
      <element name="MinValue" type="double"></element>
      <element name="MaxValue" type="double"></element>
    </sequence>
  </complexType>

  <element name="NumberRange" type="ods:AxisNumberRangeType"></element>

  <complexType name="AxisNumberRangeRestrictionType">
    <attribute name="absoluteMinValue" type="decimal" use="optional">
      <annotation>
        <documentation>Grenze beim verschieben die nicht unterschritten wird</documentation>
      </annotation>
    </attribute>
    <attribute name="absoluteMaxValue" type="decimal" use="optional" /><!-- Grenze beim verschieben -->
    <attribute name="minRange" type="decimal" use="optional">
      <annotation>
        <documentation>Grenze beim zoomen die nicht unterschritten wird</documentation>
      </annotation>
    </attribute>
    <attribute name="maxRange" type="decimal" use="optional" /><!-- Grenze beim vergrößern -->
    <attribute name="fixMinValue" type="boolean" use="optional">
      <annotation>
        <documentation>nimmt den absoluteMinValue als minValue unabhängig vom tatsächlichen Wert</documentation>
      </annotation>
    </attribute>
    <attribute name="fixMaxValue" type="boolean" use="optional" /><!-- fixiere absoluteMaxValue -->
  </complexType>

  <element name="AxisNumberRangeRestriction" type="ods:AxisNumberRangeRestrictionType"></element>
  <complexType name="AxisDateRangeRestrictionType">
    <attribute name="absoluteMinValue" type="dateTime" use="optional" />
    <attribute name="absoluteMaxValue" type="dateTime" use="optional" />
    <attribute name="minRange" type="dateTime" use="optional" />
    <attribute name="maxRange" type="dateTime" use="optional" />
    <attribute name="fixMinValue" type="boolean" use="optional" />
    <attribute name="fixMaxValue" type="boolean" use="optional" />
  </complexType>

  <element name="AxisDateRangeRestriction" type="ods:AxisDateRangeRestrictionType"></element>

  <complexType name="AxisDateRangeType">
    <sequence>
      <element name="MinValue" type="dateTime"></element>
      <element name="MaxValue" type="dateTime"></element>
    </sequence>
  </complexType>

  <element name="DateRange" type="ods:AxisDateRangeType"></element>

  <complexType name="AxisDurationRangeType">
    <sequence>
      <element name="MinValue" type="duration"></element>
      <element name="MaxValue" type="duration"></element>
    </sequence>
  </complexType>

  <element name="DurationRange" type="ods:AxisDurationRangeType"></element>

  <complexType name="AxisStringRangeType">
    <sequence>
      <element name="MinValue" type="string"></element>
      <element name="MaxValue" type="string"></element>
      <element name="ValueSet">
        <complexType>
          <sequence>
            <element name="Value" type="string" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

  <element name="StringRange" type="ods:AxisStringRangeType"></element>

  <complexType name="AxisRendererType">
    <complexContent>
      <extension base="ods:AbstractConfigurationType">
        <sequence>
          <element ref="ods:Styles" minOccurs="0" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ParametersType">
    <sequence>
      <choice minOccurs="0" maxOccurs="unbounded">
        <element name="Parameter" type="ods:ParameterType" />
        <element name="ParameterList" type="ods:ParameterListType" />
        <element name="ParameterMap" type="ods:ParameterMapType" />
      </choice>
    </sequence>
  </complexType>

  <complexType name="ParameterType">
    <attribute name="name" type="string" use="required" />
    <attribute name="value" type="string" use="required" />
  </complexType>

  <complexType name="ParameterListType">
    <sequence>
      <element name="value" type="string" maxOccurs="unbounded" />
    </sequence>
    <attribute name="name" type="string" use="required" />
  </complexType>

  <complexType name="ParameterMapType">
    <sequence>
      <element name="element" maxOccurs="unbounded">
        <complexType>
          <attribute name="key" type="string" use="required" />
          <attribute name="value" type="string" use="required" />
        </complexType>
      </element>
    </sequence>
    <attribute name="name" type="string" use="required" />
  </complexType>

  <element name="Styles">
    <complexType>
      <choice minOccurs="1" maxOccurs="unbounded">
        <element ref="ods:LineStyle" />
        <element ref="ods:PointStyle" />
        <element ref="ods:AreaStyle" />
        <element ref="ods:TextStyle" />
        <element name="StyleReference" type="string" />
      </choice>
    </complexType>
  </element>

  <complexType name="TitleType">
    <simpleContent>
      <restriction base="ods:StringType">
        <attribute name="styleref" type="IDREF" />
        <attribute name="label" type="string" />
        <attribute name="horizontalAlignment" type="ods:AlignmentType" use="optional" default="CENTER" />
        <attribute name="horizontalPosition" type="ods:AlignmentType" use="optional" default="CENTER" />
        <attribute name="verticalPosition" type="ods:AlignmentType" use="optional" default="CENTER" />
        <attribute name="horizontalTextAnchor" type="ods:AlignmentType" use="optional" default="LEFT" />
        <attribute name="verticalTextAnchor" type="ods:AlignmentType" use="optional" default="TOP" />

        <attribute name="insetTop" type="int" use="optional" default="0" />
        <attribute name="insetLeft" type="int" use="optional" default="0" />
        <attribute name="insetBottom" type="int" use="optional" default="0" />
        <attribute name="insetRight" type="int" use="optional" default="0" />
      </restriction>
    </simpleContent>
  </complexType>

  <complexType name="TitleTypes">
    <sequence>
      <element name="titleType" type="ods:TitleType" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="StringType">
    <simpleContent>
      <extension base="string">
        <anyAttribute></anyAttribute>
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="InsetType">
    <attribute name="top" type="int" use="optional" default="0" />
    <attribute name="left" type="int" use="optional" default="0" />
    <attribute name="bottom" type="int" use="optional" default="0" />
    <attribute name="right" type="int" use="optional" default="0" />
  </complexType>

  <complexType name="PlotFrameStyle">
    <sequence minOccurs="0" maxOccurs="4">
      <element name="edge">
        <complexType>
          <sequence>
            <element name="position" type="ods:PositionType"></element>
            <choice>
              <element ref="ods:LineStyle" />
              <element name="StyleReference" type="string" />
            </choice>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <!-- <complexType name="StylesType"> <choice maxOccurs="unbounded"> <element name="LineStyleRef" type="ods:RoleReferencingType"/> <element name="PointStyleRef" type="ods:RoleReferencingType"/> <element name="AreaStyleRef" type="ods:RoleReferencingType"/> <element name="TextStyleRef" type="ods:RoleReferencingType"/> </choice> </complexType> -->

</schema>


