OdysseusChartFactory/etc/binding/schema/da_ChartConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ods="http://www.openali.de/odysseus/chartconfig/0.1.0/"
	targetNamespace="http://www.openali.de/odysseus/chartconfig/0.1.0/"
	elementFormDefault="qualified" version="0.1.0">
	<include schemaLocation="./da_Style.xsd"/>

	<element name="ChartConfiguration" type="ods:ChartConfigurationType">

		<!-- Achsen Keys -->
		<key name="axisKey" id="axisKey.key">
			<selector xpath="ods:Axis"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:axisKey" name="domainAxisKey.ref">
			<selector xpath="ods:Layer/ods:Mappers/ods:DomainAxisRef"/>
			<field xpath="@ref"/>
		</keyref>
		<keyref refer="ods:axisKey" name="targetAxisKey.ref">
			<selector xpath="ods:Layer/ods:Mappers/ods:TargetAxisRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- Mapper Keys -->
		<key name="mapperKey" id="mapperKey.key">
			<selector xpath="ods:Mapper"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:mapperKey" name="mapperKey.ref">
			<selector xpath="ods:Layer/ods:Mappers/ods:MapperRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- Layer Keys -->
		<key name="layerKey" id="layerKey.key">
			<selector xpath="ods:Layer"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:layerKey" name="layerKey.ref">
			<selector xpath="ods:Chart/ods:Layers/ods:LayerRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- AxisRenderer Keys -->
		<key name="axisRendererKey" id="axisRendererKey.key">
			<selector xpath="ods:AxisRenderer"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:axisRendererKey" name="axisRendererKey.ref">
			<selector xpath="ods:Axis/ods:RendererRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- LineStyleKeys -->
		<key name="lineStyleKey" id="lineStyleKey.key">
			<selector xpath="ods:LineStyle"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:lineStyleKey" name="lineStyleKey.ref">
			<selector xpath="ods:Layer/ods:Styles/ods:LineStyleRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- PointStyleKeys -->
		<key name="pointStyleKey" id="pointStyleKey.key">
			<selector xpath="ods:PointStyle"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:pointStyleKey" name="pointStyleKey.ref">
			<selector xpath="ods:Layer/ods:Styles/ods:PointStyleRef"/>
			<field xpath="@ref"/>
		</keyref>

		<!-- AreaStyleKeys -->
		<key name="areaStyleKey" id="areaStyleKey.key">
			<selector xpath="ods:AreaStyle"> </selector>
			<field xpath="@id"/>
		</key>
		<keyref refer="ods:areaStyleKey" name="areaStyleKey.ref">
			<selector xpath="ods:Layer/ods:Styles/ods:AreaStyleRef"/>
			<field xpath="@ref"/>
		</keyref>


		<!-- identische Mapper nur einmal pro layer -->
		<unique name="mapperPerLayer">
			<selector xpath="ods:Layer/ods:Mappers/*"/>
			<field xpath="@ref"/>
		</unique>

		<!-- identische MapperRoles nur einmal pro layer -->
		<unique name="mapperRolePerLayer">
			<selector xpath="ods:Layer/ods:Mappers/*"/>
			<field xpath="@role"/>
		</unique>

		<!-- identische Styles nur einmal pro layer -->
		<unique name="stylePerLayer">
			<selector xpath="ods:Layer/ods:Styles/*"/>
			<field xpath="@ref"/>
		</unique>

		<!-- identische StyleRoles nur einmal pro layer -->
		<unique name="styleRolePerLayer">
			<selector xpath="ods:Layer/ods:Styles/*"/>
			<field xpath="@role"/>
		</unique>

		<!-- identische Layer nur einmal pro chart -->
		<unique name="layerPerChart">
			<selector xpath="ods:Chart/ods:Layers/ods:LayerRef"/>
			<field xpath="@ref"/>
		</unique>

		<!-- identischer Parametername nur einmal pro Provider; muss dummerweise für jedes Element 
		individuell aufgeführt werden, da * auf alle Elemente wirkt und ein Parametername global nur einmal
		auftauchen dürfte
		
		Funktioniert leider nicht - müsste auch noch individuell für Parameter, ParameterList und ParameterMap 
		aufgeführt werden.
		
		ISt aber nicht schlimm, weil dadurch keine essntiellen Fehler entstehen - bei mehrfach aufgerführten 
		ParameterNamen werden halt vorherige von nachfolgenden überschrieben
		
		<unique name="parameterNamePerLayerProvider">
			<selector xpath="ods:Layer/ods:Provider/ods:Parameters/*"/>
			<field xpath="@name"/>
		</unique>
		<unique name="parameterNamePerAxisProvider">
			<selector xpath="ods:Axis/ods:Provider/ods:Parameters/*"/>
			<field xpath="@name"/>
		</unique>
		<unique name="parameterNamePerMapperProvider">
			<selector xpath="ods:Mapper/ods:Provider/ods:Parameters/*"/>
			<field xpath="@name"/>
		</unique>
		<unique name="parameterNamePerAxisRendererProvider">
			<selector xpath="ods:AxisRenderer/ods:Provider/ods:Parameters/*"/>
			<field xpath="@name"/>
		</unique>
		-->

	</element>

	<complexType name="ChartConfigurationType">
		<choice minOccurs="0" maxOccurs="unbounded">
			<element name="Chart" type="ods:ChartType"/>
			<element name="Layer" type="ods:LayerType"/>
			<element name="Axis" type="ods:AxisType"/>
			<element name="Mapper" type="ods:MapperType"/>
			<element name="AxisRenderer" type="ods:AxisRendererType"/>
			<element name="LineStyle" type="ods:LineStyleType"/>
			<element name="PointStyle" type="ods:PointStyleType"/>
			<element name="AreaStyle" type="ods:AreaStyleType"/>
		</choice>



	</complexType>

	<complexType name="AbstractConfigurationType" abstract="true">
		<complexContent>
			<extension base="ods:ReferencableType">
				<sequence>
					<element name="Provider" type="ods:ProviderType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReferencableType">
		<attribute name="id" type="ID" use="required"/>
	</complexType>

	<complexType name="ReferencingType">
		<attribute name="ref" type="IDREF" use="required"/>
	</complexType>

	<complexType name="RoleReferencingType">
		<complexContent>
			<extension base="ods:ReferencingType">
				<attribute name="role" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ChartType">
		<complexContent>
			<extension base="ods:AbstractConfigurationType">
				<sequence>
					<element name="Title" type="string"/>
					<element name="Description" type="string"/>
					<element name="Layers">
						<complexType>
							<sequence>
								<element name="LayerRef" maxOccurs="unbounded"
									type="ods:ReferencingType"> </element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="LayerType">
		<complexContent>
			<extension base="ods:AbstractConfigurationType">
				<sequence>
					<element name="Title" type="string"/>
					<element name="Description" type="string"/>
					<element name="Mappers">
						<complexType>
							<sequence>
								<element name="DomainAxisRef" type="ods:ReferencingType"/>
								<element name="TargetAxisRef" type="ods:ReferencingType"/>
								<element name="MapperRef" type="ods:RoleReferencingType"
									minOccurs="0" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
					<element name="Styles" type="ods:StylesType" minOccurs="0"/>
				</sequence>
				<attribute name="visible" type="boolean" default="true">
					<annotation>
						<documentation> legt die Sichtbarkeit des Layers fest </documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ProviderType">
		<sequence>
			<element name="Parameters" type="ods:ParametersType" minOccurs="0"/>
		</sequence>
		<attribute name="epid" type="string" use="required">
			<annotation>
				<documentation> ID der Extension, die den jeweiligen Erweiterungspunkt implementiert
				</documentation>
			</annotation>
		</attribute>
	</complexType>



	<complexType name="MapperRefType">
		<complexContent>
			<extension base="ods:ReferencingType">
				<attribute name="role" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="MapperType">
		<complexContent>
			<extension base="ods:AbstractConfigurationType"/>
		</complexContent>
	</complexType>



	<complexType name="AxisType">
		<complexContent>
			<extension base="ods:MapperType">
				<sequence>
					<element name="Label" type="string"/>
					<element name="Direction">
						<simpleType>
							<restriction base="string">
								<enumeration value="POSITIVE"/>
								<enumeration value="NEGATIVE"/>
							</restriction>
						</simpleType>
					</element>
					<element name="Position">
						<simpleType>
							<restriction base="string">
								<enumeration value="LEFT"/>
								<enumeration value="RIGHT"/>
								<enumeration value="BOTTOM"/>
								<enumeration value="TOP"/>
							</restriction>
						</simpleType>
					</element>
					<element name="DataType" minOccurs="0">
						<annotation>
							<documentation> TODO: Only uses temporarily to check axis type for
								testing purposes concerning GenericLinearAxis; </documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<enumeration value="NUMBER"/>
								<enumeration value="DATE"/>
								<enumeration value="STRING"/>
							</restriction>
						</simpleType>
					</element>
					<element name="MinVal" type="string"/>
					<element name="MaxVal" type="string"/>
					<element name="PreferredAdjustment" minOccurs="0">
						<annotation>
							<documentation> sets the preferred relation for auto adjustement
							</documentation>
						</annotation>
						<complexType>
							<attribute name="before" use="required">
								<simpleType>
									<restriction base="int">
										<minInclusive value="0"/>
										<maxInclusive value="100"/>
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="range" use="required">
								<simpleType>
									<restriction base="int">
										<minInclusive value="1"/>
										<maxInclusive value="100"/>
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="after" use="required">
								<simpleType>
									<restriction base="int">
										<minInclusive value="0"/>
										<maxInclusive value="100"/>
									</restriction>
								</simpleType>
							</attribute>
						</complexType>
					</element>
					<element name="RendererRef" type="ods:ReferencingType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="AxisRendererType">
		<complexContent>
			<extension base="ods:AbstractConfigurationType"> </extension>
		</complexContent>
	</complexType>





	<complexType name="ParametersType">
		<sequence>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="Parameter" type="ods:ParameterType"/>
				<element name="ParameterList" type="ods:ParameterListType"/>
				<element name="ParameterMap" type="ods:ParameterMapType"/>
			</choice>
		</sequence>
	</complexType>


	<complexType name="ParameterType">
		<attribute name="name" type="string" use="required"/>
		<attribute name="value" type="string" use="required"/>
	</complexType>


	<complexType name="ParameterListType">
		<sequence>
			<element name="value" type="string" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="name" type="string" use="required"/>
	</complexType>

	<complexType name="ParameterMapType">
		<sequence>
			<element name="element" maxOccurs="unbounded">
				<complexType>
					<attribute name="key" type="string" use="required"/>
					<attribute name="value" type="string" use="required"/>
				</complexType>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required"/>
	</complexType>

	<complexType name="StylesType">
		<choice maxOccurs="unbounded">
			<element name="LineStyleRef" type="ods:RoleReferencingType"/>
			<element name="PointStyleRef" type="ods:RoleReferencingType"/>
			<element name="AreaStyleRef" type="ods:RoleReferencingType"/>
		</choice>
	</complexType>





























</schema>
