KalypsoContributionsOGC31/etc/schemas/generated/iso19139/gml3.1.1version/gco/gcoBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" targetNamespace="http://www.isotc211.org/2005/gco" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0">
<xs:annotation>
		<xs:documentation>This schema provides:
		1.  tools to handle specific objects like "code lists" and "record";
		2. Some XML types representing that do not follow the general encoding rules.</xs:documentation>
	</xs:annotation>
<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../xlink/1.0.0/xlinks.xsd"/>
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../../../gml/3.1.1/base/gml.xsd"/>
<xs:complexType name="AbstractObject_Type" abstract="true">
		<xs:sequence/>
		<xs:attributeGroup ref="gco:ObjectIdentification"/>
	</xs:complexType>
<xs:element name="AbstractObject" type="gco:AbstractObject_Type" abstract="true"/>
<xs:attributeGroup name="ObjectReference">
		<xs:attributeGroup ref="xlink:simpleLink"/>
		<xs:attribute name="uuidref" type="xs:string"/>
	</xs:attributeGroup>
<xs:attribute name="nilReason" type="gml:NullType"/>
<xs:complexType name="ObjectReference_PropertyType">
		<xs:sequence/>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
<xs:attributeGroup name="ObjectIdentification">
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="uuid" type="xs:string" use="optional"/>
	</xs:attributeGroup>
<xs:complexType name="CodeListValue_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="codeList" type="xs:anyURI" use="required"/>
				<xs:attribute name="codeSpace" type="xs:anyURI" use="optional"/>
				<xs:attribute name="codeListValue" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
<xs:attribute name="isoType" type="xs:string"/>
</xs:schema>
