KalypsoZmlUI/etc/schemas/zmltable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:zmltable="schema.table.ui.zml.kalypso.org" targetNamespace="schema.table.ui.zml.kalypso.org" elementFormDefault="qualified">

  <!-- elements -->
  <element name="ZmlTable" type="zmltable:ZmlTableType" />
  <element name="Columns" type="zmltable:ColumnsType" />
  <element name="Column" type="zmltable:ColumnType" /> 
  
  <!-- types --> 
  <complexType name="ZmlTableType">
    <sequence>
      <element ref="zmltable:Columns" minOccurs="0" maxOccurs="1" />
    </sequence>
  </complexType>

  <complexType name="ColumnsType">
    <sequence>
      <element ref="zmltable:Column" minOccurs="0" maxOccurs="unbounded" />
    </sequence>
  </complexType>

  <complexType name="ColumnType">
    <sequence>
      <element name="id" type="ID" />
      <element name="indexAxis" type="string" minOccurs="1" maxOccurs="1" />
      <element name="valueAxis" type="string" minOccurs="1" maxOccurs="1" />
      <element name="format" type="string" default="%s"  />
      <element name="alignment" type="zmltable:AlignmentType" default="LEFT" />
    </sequence>
  </complexType>

  <simpleType name="AlignmentType">
    <restriction base="string">
      <enumeration value="LEFT"></enumeration>
      <enumeration value="CENTER"></enumeration>
      <enumeration value="RIGHT"></enumeration>
    </restriction>
  </simpleType>
</schema>